.nav-link {
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.nav-link--active {
  cursor: default;
  color: $color-primary;
}

.nav-link--active::before {
  content: '[';
}

.nav-link--active::after {
  content: ']';
}
